.main-container {
  width: 400px;
  margin: 2rem auto;
}
.header {
  text-align: center;
}
.calculator__title {
  color: var(--VeryDarkCyan);
  font-size: 23px;
}
.calculator-container {
  background: var(--White);
  border-radius: 20px;
  height: 500px;
  padding: 1rem;
}
