.main-container {
  width: 400px;
  margin: 2rem auto;
}
.header {
  text-align: center;
}
.calculator__title {
  color: var(--VeryDarkCyan);
  font-size: 23px;
  margin-bottom: 2rem;
  letter-spacing: 12px;
}
.calculator-container {
  background: var(--White);
  border-radius: 20px;
  height: 700px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.inputs-section {
  display: flex;
  flex-direction: column;
}
label {
  font-size: 18px;
  color: var(--VeryDarkCyan);
}
.inputs-section__bill-input {
  margin-bottom: 2rem;
  height: 35px;
  background: var(--LightGrayishCyan);
  border: none;
}
.btns__legend {
  font-size: 18px;
  color: var(--VeryDarkCyan);
}
.btns {
  margin-bottom: 2rem;
  border: none;
}
.inputs-section__people-input {
  height: 35px;
  margin-bottom: 2rem;
  background: var(--LightGrayishCyan);
  border: none;
}
.results-section {
  background: var(--VeryDarkCyan);
  border-radius: 20px;
  height: 370px;
}
