.main-container {
  width: 400px;
  margin: 3rem auto;
}
.header {
  display: flex;
  justify-content: center;
  background: var(--LightGrayishCyan);
}
.header__title {
  color: var(--VeryDarkCyan);
  font-size: 20px;
  letter-spacing: 9px;
  font-weight: var(--normalFont);
  margin-bottom: 3rem;
}
label {
  color: var(--VeryDarkCyan);
  font-weight: var(--normalFont);
  font-size: 18px;
}
fieldset {
  border: none;
}
.btns__legend {
  color: var(--VeryDarkCyan);
  font-size: 18px;
}
.calculator-container {
  background-color: var(--White);
  border-radius: 20px;
  height: 500px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
.inputs-section {
  display: flex;
  flex-direction: column;
}
