@mixin inputs($icon) {
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  height: 35px;
  border: none;
  text-align: right;
  padding: 10px;
  caret-color: var(--VeryDarkCyan);
  border-radius: 4px;
  padding-right: 10px;
  padding-left: 10px;
  &:hover {
    cursor: pointer;
  }
  &:focus {
    outline: none;
    border: 2px solid var(--VeryDarkCyan);
  }
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  background: {
    image: url($icon);
    repeat: no-repeat;
    position: 10px center;
    color: var(--LightGrayishCyan);
  }
}
